/* -----header----- */

form {
  position: absolute;
  height: 25%;
  background-color: rgb(223, 223, 235);
  z-index: 1;
  border-radius: 5%;
  top: 5%;
  left: 25%;
  box-shadow: 3px 3px rgb(225, 169, 169), -1em 0 0.4em rgb(213, 213, 140);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}
#message{
    max-width: 75%;
}
.visible-form {
  display: flex;
}

@media (min-width: 1150px) {
  form {
    width: 50%;
    margin: 0 auto;
  }
}
@media (max-width: 1150px) {
  form {
    width: 50%;
  }
}
